crypto/crypto/force-app/main/default/flows/Cria_o_de_Ordem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Atribui_Quantidade</name>
        <label>Atribui Quantidade</label>
        <locationX>1082</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FQuantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VlrValorTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TPreco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiTotal</name>
        <label>Atribui Total</label>
        <locationX>1081</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>TotalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FvalorTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantidadeFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VlrQuantidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrecoFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QPreco</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmacao</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Compra</description>
        <name>Compra</name>
        <choiceText>Compra</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compra</stringValue>
        </value>
    </choices>
    <choices>
        <description>Quantidade</description>
        <name>Quantidade</name>
        <choiceText>Quantidade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quantidade</stringValue>
        </value>
    </choices>
    <choices>
        <description>Valor total</description>
        <name>ValorTotal</name>
        <choiceText>Valor total</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Valor Total</stringValue>
        </value>
    </choices>
    <choices>
        <description>Venda</description>
        <name>Venda</name>
        <choiceText>Venda</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Venda</stringValue>
        </value>
    </choices>
    <decisions>
        <name>PrecoOutotal</name>
        <label>Quantidade ou total</label>
        <locationX>732</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Tela_Valor_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total</defaultConnectorLabel>
        <rules>
            <name>IfQuantidade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opcaooperacao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quantidade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tela_Quantidade</targetReference>
            </connector>
            <label>Quantidade</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OpcoesMercado</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Ativo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mercado__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FQuantidade</name>
        <dataType>Number</dataType>
        <expression>{!VlrValorTotal}/{!TPreco}</expression>
        <scale>6</scale>
    </formulas>
    <formulas>
        <name>FTipoRegistro</name>
        <dataType>String</dataType>
        <expression>IF({!Tipo} == &apos;Compra&apos;, &apos;0125e000000lFOjAAM&apos;,&apos;0125e000000lFP3AAM&apos;)</expression>
    </formulas>
    <formulas>
        <name>FvalorTotal</name>
        <dataType>Number</dataType>
        <expression>{!QPreco}*{!VlrQuantidade}</expression>
        <scale>6</scale>
    </formulas>
    <interviewLabel>Criação de Ordem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criação de Ordem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cria_Ordem</name>
        <label>Cria Ordem</label>
        <locationX>1457</locationX>
        <locationY>203</locationY>
        <inputAssignments>
            <field>DataCriacao__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>Mercado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preco__c</field>
            <value>
                <elementReference>PrecoFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantidade__c</field>
            <value>
                <elementReference>QuantidadeFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FTipoRegistro</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aguardando</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total__c</field>
            <value>
                <elementReference>TotalFinal</elementReference>
            </value>
        </inputAssignments>
        <object>Ordem__c</object>
    </recordCreates>
    <screens>
        <name>Confirmacao</name>
        <label>Confirmação</label>
        <locationX>1326</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cria_Ordem</targetReference>
        </connector>
        <fields>
            <name>TextoConfirmacao</name>
            <fieldText>&lt;p&gt;Confira os dados antes de concluir a ordem:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo: &lt;/b&gt;{!Tipo}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Mercado: &lt;/b&gt;{!Mercado}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Preço: &lt;/b&gt;{!PrecoFinal}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantidade: &lt;/b&gt;{!QuantidadeFinal}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Valor total: &lt;/b&gt;{!TotalFinal}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sele_o_de_op_o_de_opera_o</name>
        <label>Seleção de opção de operação</label>
        <locationX>530</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PrecoOutotal</targetReference>
        </connector>
        <fields>
            <name>TextoExibicaoOpcaoCompra</name>
            <fieldText>&lt;p&gt;Selecione se deseja realizar a compra baseada no valor total a ser trabalhado na operação, ou pela quantidade do ativo&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opcaooperacao</name>
            <choiceReferences>ValorTotal</choiceReferences>
            <choiceReferences>Quantidade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opção de operação</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelecaoInicial</name>
        <label>Seleção Inicial</label>
        <locationX>377</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sele_o_de_op_o_de_opera_o</targetReference>
        </connector>
        <fields>
            <name>Mercado</name>
            <choiceReferences>OpcoesMercado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mercado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>Compra</choiceReferences>
            <choiceReferences>Venda</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Quantidade</name>
        <label>Tela Quantidade</label>
        <locationX>931</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AtribuiTotal</targetReference>
        </connector>
        <fields>
            <name>VlrQuantidade</name>
            <dataType>Number</dataType>
            <fieldText>Quantidade</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>QPreco</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tela_Valor_Total</name>
        <label>Tela Valor Total</label>
        <locationX>931</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atribui_Quantidade</targetReference>
        </connector>
        <fields>
            <name>VlrValorTotal</name>
            <dataType>Number</dataType>
            <fieldText>Valor Total</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <fields>
            <name>TPreco</name>
            <dataType>Number</dataType>
            <fieldText>Preço</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>6</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SelecaoInicial</startElementReference>
    <status>Active</status>
    <variables>
        <name>PrecoFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>QuantidadeFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <name>TotalFinal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
</Flow>
